.dashboard-item .ui-btn-inner .ui-icon {
	background-color: #94393f;
	box-shadow: 0px 1px 4px #94393f;
	-webkit-box-shadow: 0px 1px 4px #94393f;
}
.ui-bar-b {
	background: #94393f;
	border-color: #94393f;
}
.ui-btn-up-b {
	background: #94393f;
	border-color: #94393f;
}
.ui-btn-hover-b {
	background: #792020;
	border-color: #792020;
}
.ui-btn-up-e {
	background: #94393f;
	border-color: #94393f;
}
.ui-btn-hover-e {
	background: #792020;
	border-color: #792020;
}
.dashboard-item.ui-btn {
	background: none;
}
.ui-body-b, .ui-overlay-b {
	background-image: url(../images/honda-bg.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}